@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
:root {
    background: #0f0e17;
}

@keyframes cursor {
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
 }

